.centered-container {
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
}

form {
  background-color: yellow;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.message-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.blue-button {
  background-color: blue; /* Blue background color for the button */
  color: white; /* White text color for the button */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.blue-button:hover {
  background-color: darkblue; /* Darker blue color on hover */
}
