<div class="container">
  <h2 class="border-primary mt-5 text text-danger-emphasis border border-danger-subtle" >Welcome to the Appointment Management System</h2>
</div>

<div class="container mt-4">
  <div class="alert alert-warning border-primary">
    Manage your Appointments <a routerLink="/appointments">here</a>
  </div>
</div>

<div class="container mt-4">
  <div class="alert alert-info">
    Life's beauty truly shines when we master the art of organizing our time. In a world where every second counts, the ability to prioritize and manage appointments efficiently becomes essential. Just as each day unfolds with limitless potential, our journey becomes more meaningful when we navigate it with purpose. You're in the right place – our Appointment Management System empowers you to take charge of your time, ensuring that every appointment, every moment aligns with your aspirations. Welcome to a space where organization meets possibility.
  </div>
</div>
